@model MVCAtendimento.Models.TipoUsuario

@{
	ViewData["Title"] = "Editar Tipo Usuario";
}

<h1> Editar Tipo Usuario</h1>

<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Editar">			
			<div class="form-group">
				<label asp-for="Descricao" class="control-label"></label>
				<input asp-for="Descricao" class="form-control" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Editar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<hr/>
<br />
<div>
	<a asp-action="Index">Voltar</a>
</div>